footer
	#footer
		.wrap.clearFix
			h5 Effort is made to ensure this system is secure and for your privacy, session activity is not logged at all
			h6 Use at your own risk, no warranty either expressed or implied are provided for use with service
			div
				|The technology behind this service was written by:
			div.pushfax
				| Christopher Jeffrey 
				a(href="https://github.com/chjj/tty.js") 	tty for node.js
			div.pushfax
				|Fabrice Bellard's 
				a(href="http://bellard.org/jslinux/")	 	javascript vt100 for jslinux