!!! 5
html(lang='cs')
	head
		meta(charset='utf-8')
		title Terminal Shark.
		meta(name='description', content='')
		meta(name='keywords', content='')
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='apple-touch-icon', href='/apple-touch-icon.png')
		link(rel='stylesheet', href='stylesheets/main.css?v=1.0', media='screen,projection')
		link(rel='stylesheet', href='stylesheets/print.css', media='print')

	body
		include header
		block bricks
		include footer